$body-bg:  #111C7B; // overwritten bootstrap variable
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~leaflet/dist/leaflet.css";
// hotel-reservations look and feel:
$body-bg:  #111C7B; // overwritten bootstrap variable
$map-wrapper-bg-color: #E1E1E1;
$map-container-bg-color: #F5F5F5;
$hr-dark-blue: #1525AF;
$hr-box-shadow: 0 0 5px 1px #0000004d;
$hr-hover-btn-color: #eaae13;
$hr-hover-focus-btn-color: #ffdd6c;
//---------------btn-primary
.btn-primary {
  background-color: $hr-dark-blue ;
  border:2px solid $hr-dark-blue;
  padding: 0 2em ; 
  line-height: 2;
  font-family: 'Lato-bold';
  font-weight:500 ;
}
.btn-primary:hover {
  background-color: $hr-hover-btn-color;
  border: 2px solid $hr-hover-btn-color;
}
.btn-primary:focus {
  background-color: #2234d6;
  
}
.btn-primary:not(:disabled):not(.disabled):hover:focus {
  background-color: $hr-hover-btn-color;
  border: 2px solid $hr-hover-btn-color;
}
.btn-primary:not(:disabled):not(.disabled):hover:focus:active {
  background-color: $hr-hover-focus-btn-color;
  border: 2px solid $hr-hover-focus-btn-color;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $hr-hover-focus-btn-color;
  border: 2px solid $hr-hover-focus-btn-color;
}

//------------------ btn-secondary
.btn-secondary {
  color: $hr-dark-blue;
  font-family: 'Lato-bold';
  border: 2px solid $hr-dark-blue ; 
  background-color: #F5F5F5;
  line-height: 2;
  padding: 0 2em ; 
  font-weight:500 ;
}
.btn-secondary:hover {
  border: 2px solid $hr-hover-btn-color;
  color: $hr-hover-btn-color ;
  background-color: #F5F5F5;
}
.btn-secondary:focus {
  background-color: #F5F5F5;
  border: 2px solid $hr-hover-btn-color;
  color:$hr-hover-btn-color
}
.btn-secondary:not(:disabled):not(.disabled):hover:focus {
  background-color: #F5F5F5;
  border: 2px solid $hr-hover-btn-color;
  color:$hr-hover-btn-color;

}
.btn-secondary:not(:disabled):not(.disabled):hover:focus:active {
  border: 2px solid $hr-hover-focus-btn-color;
  color:$hr-hover-btn-color;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  border: 2px solid $hr-hover-focus-btn-color;
  color:$hr-hover-btn-color;
}

body {
  margin: 0px !important;
}

.component-wrapper {
  background-color: $map-wrapper-bg-color;
  padding: 1.6vw;
}

.hr-left {
  float:left;
}

.flx {
  display: flex;
  float:left
}


.hr-marg-r {
  margin-right:0.2em;
}
.hr-marg-r1 {
  margin-right:1em;
}
.hr-marg-r5 {
  margin-right:5em;
}

.component-container {
  background-color:  $map-container-bg-color;
  padding:30px 0;
  max-width: none;
  border-radius:9.5px;
  min-width: 20em;
}

.hr-row {
  margin: 5px 50px 15px 50px;
}

@font-face {
  font-family: "Commissioner";
  src: url("~@/assets/Commissioner/Commissioner-Regular.ttf");
}
@font-face {
  font-family: "Commissioner-Medium";
  src: url("~@/assets/Commissioner/Commissioner-SemiBold.ttf") ;
}
@font-face {
  font-family: "Commissioner-Light";
  src: url("~@/assets/Commissioner/Commissioner-Light.ttf") ;
}

@font-face {
  font-family: "Patua-One";
  src: url("~@/assets/Patua_One/PatuaOne-Regular.ttf") ;
}

@font-face {
  font-family: "Palanquin-Dark";
  src: url("~@/assets/Palanquin_dark/PalanquinDark-Regular.ttf") ;
}

@font-face {
  font-family: "Open-Sans-Italic";
  src: url("~@/assets/Open_Sans/OpenSans-LightItalic.ttf") ;
}

@font-face {
  font-family: "Lato-bold";
  src: url("~@/assets/Lato2OFL/Lato-Bold.ttf") ;
}

@font-face {
  font-family: "Lato-medium";
  src: url("~@/assets/Lato2OFL/Lato-Medium.ttf") ;
}

@font-face {
  font-family: "Passion-One";
  src: url("~@/assets/Passion_One/PassionOne-Regular.ttf") ;
}

@font-face {
  font-family: "Poppins";
  src: url("~@/assets/Poppins/Poppins-Medium.ttf") ;
}